<div class="pages" id="page-about">
    <div class="container">
        <!-- Header -->
        <header>
            <h4 class="line-divider">About</h4>
            <h1>Meet The Team</h1>
            <div class="row">
                <div class="span8 offset2">
                    <p>
                        We are Frag Castle Games.
                    </p>
                </div>
            </div>
        </header>
        <!-- End Header -->

        <!-- Article -->
        <article>
            <!-- List of people and description with their contact details which are visable on hover -->
            <ul class="thumbnails about-items">
                <li class="span4 center">
                     <div class="item">
                        <!-- Team member image -->
                        <img class="img-circle" src="https://1.gravatar.com/avatar/55997cec217233703cbf68b689578771?&amp;r=x&amp;s=280" alt="Jared Barboza">

                        <!-- Team memeber details, activated on hover -->
                        <div class="about-overlay img-circle">
                            <div class="social-icons sicon-white">
                                <a href="http://twitter.com/codeimpossible" class="sicon-twitter"><i>@Codeimpossible</i></a>
                            </div>
                        </div>
                    </div>

                    <!-- Team member name and function -->
                    <h5>
                        Jared Barboza<br/>
                        <small>Programmer, 2d Artist, Founder</small>
                    </h5>

                    <!-- Team member short info -->
                    <p class="smallFontBy08">Jared is a game player from way-back. With the support and love of his awesome wife he now makes games all night in a desperate cry for attention.</p>
                </li>
                <li class="span4 center">
                    <div class="item">
                        <img class="img-circle" src="https://2.gravatar.com/avatar/a72155ea89e84dcb8def0e8c64598a9d?&amp;r=x&amp;s=280" alt="John Bubriski">
                        <div class="about-overlay img-circle">
                            <div class="social-icons sicon-white">
                                <a href="http://twitter.com/JohnBubriski" class="sicon-twitter"><i>@JohnBubriski</i></a>
                            </div>
                        </div>
                    </div>

                    <h5>
                        John Bubriski<br/>
                        <small>Programmer, 3d Artist, Founder</small>
                    </h5>
                    <p class="smallFontBy08">John loves his wife, kids, video games, Canon 60D, Macbook Pro, ukelele, and Samick Sage.</p>
                </li>
            </ul>
        </article>
        <!-- End Article -->
    </div>
</div>
