
<div style="margin-top: 40px;">
  <h4>Legal Beagle Stuff</h4>
  <p>Opening Song by <a href="https://soundcloud.com/roccow">RoccoW</a> - <a href="https://soundcloud.com/roccow/create-a-song-in-a-day">"Create A Song in A Day Challenge #1"</a>. This song is shared under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Attribution Share A like 3.0 Unported (CC BY-SA 3.0) license</a>. We sampled a 20 second clip from the middle of his awesome track to open our podcast. RoccoW does not in any way endorse our podcast. The opinions and viewpoints expressed by the Hosts of FragCast are theres and theres alone.</p>
</div>
