
<p><a href="https://itunes.apple.com/us/podcast/fragcast/id796282162?mt=2" class="btn">Subscribe via iTunes!</a> &nbsp;&nbsp;&nbsp; <a href="http://media.signalleaf.com/FragCast/rss" class="btn">Subscribe via RSS</a></p>

<p>FragCast is a weekly podcast where the founders of Frag Castle Games talk about the latest progress on their games, the video game industry, pop culture and the ups and downs of running a super-small, lean startup.</p>

<iframe width="740" height="460" src="//www.youtube.com/embed/{{ page.youtube_id }}" frameborder="0" allowfullscreen></iframe>
<div id="player" data-url="http://media.signalleaf.com/player/FragCast/{{ page.signalleaf_id }}/" width="750" height="90"></div>
