<div class="container">
    <div class="row-fluid">
        <div class="span12 center">
            <!-- LOGO -->
            <a class="brand pull-left" href="{{ BASE_PATH }}">
                <img src="{{ ASSET_PATH }}treble/images/logo.png" alt="Treble">
            </a>
            <!-- END LOGO -->

            <!-- MOBILE MENU BUTTON -->
            <div class="mobile-menu" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>
            <!-- END MOBILE MENU BUTTON -->

            <!-- MAIN MENU -->
            <ul id="main-menu" class="nav-collapse collapse">
                <li><a href="{{ BASE_PATH }}/index.html#page-welcome">Home</a></li>
                <li><a href="{{ BASE_PATH }}/index.html#page-games">Games</a></li>
                <li><a href="{{ BASE_PATH }}/index.html#page-about">About</a></li>
                <li><a href="{{ BASE_PATH }}/index.html#page-blog">Blog</a></li>
                <li><a href="{{ BASE_PATH }}/index.html#page-contact">Contact</a></li>
            </ul>
            <!-- END MAIN MENU -->

            <!-- SOCIAL ICONS -->
            <div class="social-icons hover-big pull-right">
                <a href="https://www.facebook.com/FragCastle" class="sicon-facebook"><i>Facebook</i></a>
                <a href="http://twitter.com/fragcastle" class="sicon-twitter"><i>Twitter</i></a>
                <a href="http://www.youtube.com/channel/UCB8a1AS5k43x5aaxrdX4SJw" class="sicon-youtube"><i>Youtube</i></a>
            </div>
            <!-- END SOCIAL ICONS -->
        </div>
    </div>
</div>
