<div class="pages white paralax" id="page-twitter">
    <!-- Page overlay -->
    <div class="overlay">

    </div>

    <!-- Block content -->
    <div class="container">
         <div class="row-fluid">
            <div class="span8 offset2">
                <div class="twitter-devider">

                </div>
                <!-- Load Twitter boostrap container -->
                <div class="twitterfeed center slide" id="twitterfeed-slider">

                </div>

                <!-- Sub title / Name of twitter account -->
                <h5 class="center">follow <a href="http://twitter.com/fragcastle">@fragcastle</a> on twitter</h5>
            </div>
        </div>
    </div>
    <a class="twitter-timeline" data-chrome="nofooter noheader transparent" data-related="codeimpossible,johnbubriski" data-tweet-limit="5" href="https://twitter.com/fragcastle" data-widget-id="402656079126880256">&nbsp;</a>
</div>
