<div class="pages white paralax" id="page-welcome">
    <div class="overlay">

    </div>
    <!-- Centralized content -->
    <div class="centralized">
        <div class="container">
            <div class="row-fluid">
                <div class="span12 center">
                    <!-- Animated logo -->
                    <div class="logo">
                        <div class="scrollNormal">
                            <a href="#page-games">
                                <img src="{{ ASSET_PATH }}treble/images/pages/welcome/logo_welcome.png" width="140" height="140" alt="Treble">
                            </a>
                        </div>
                        <div class="scrollDown">
                            <a href="#page-games">
                                <img src="{{ ASSET_PATH }}treble/images/pages/welcome/logo2_welcome.png" width="140" height="140" alt="Treble">
                            </a>
                        </div>
                    </div>

                    <div class="line-divider" id="welcome-messages">
                        <ul class="slides">
                            <li>
                                <h1>Frag Castle Games</h1>
                            </li>
                        </ul>
                    </div>
                    <p>We make games. Oh, we also blog. And eat. And breathe. And..</p>
                    <div class="social-icons sicon-white bordered">
                        <a href="https://www.facebook.com/FragCastle" class="sicon-facebook"><i>Facebook</i></a>
                        <a href="http://twitter.com/fragcastle" class="sicon-twitter"><i>Twitter</i></a>
                        <a href="http://www.youtube.com/channel/UCB8a1AS5k43x5aaxrdX4SJw" class="sicon-youtube"><i>Youtube</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
