body {
  background-repeat: repeat-x;
  background-image: url(../images/template-bg.png);
  background-color: #459649;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: 'VT323', arial, serif;
}





#header {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/logo-castle.png);
  width: 800px;
  height: 200px;
  margin: 20px auto 20px auto;
  padding: 0;
}






#nav {
  background: url(../images/menu-bg.png) repeat-x;
  height: 64px;
  width: 500px;
  margin: 20px auto 20px auto;
}

#nav .left {
  background: url(../images/menu-left.png);
  height: 64px;
  width: 18px;
  float: left;
}

#nav .right {
  background: url(../images/menu-right.png);
  height: 64px;
  width: 18px;
  float: left;
}

#nav ul.items, #nav ul.items li {
  float: left;
  height: 64px;
  list-style: none;
}

#nav ul.items li a {
  font-family: 'VT323', arial, serif;
  font-size: 30px;
  padding: 10px;
  text-decoration: none;
  color: white;
}






#content {
  width: 800px;
  margin: 20px auto 20px auto;
}

#content-top {
  height: 12px;
  background-image: url(../images/content_top.png);
}

#content-middle {
  padding: 10px 10px;
  background-image: url(../images/content_middle.png);
}

#content-bottom {
  height: 11px;
  background-image: url(../images/content_bottom.png);
}

#content a {
  color: white;
}
