#content {
  padding-top: 20px;
}

i[class^="icon-"].large {
  font-size: 64px;
}

.text-right {
  text-align: right;
}

.title {
  font-family: 'Iceland', cursive;
  font-size: 26px
}

.well.box {
  border-radius: 0;
}

.box.right-only {
  border-left: none;
  border-top: none;
  border-bottom: none;
  box-shadow: none;
}

.well.no-bg {
  background: none;
}

.thick-border {
  border-width: 2px!important;
}

.icon-github {
  color: #000;
}

.icon-google-plus {
  color: maroon;
}

body {
  font-size: 16px;
}

.branding .navigation {
  padding-top: 20px;
}

.game {
  height: 230px;
  width: 230px;
}

.game.teaser {
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 2px 2px 5px 2px;
}

.game.rock-kickass {
  background: url( http://fragcastle.com/assets/site/img/portfolio/rockkickass.png ) no-repeat -24px 1px;
}

.game.final-frontier {
  background: url( http://fragcastle.com/assets/site/img/portfolio/finalfrontier.png ) no-repeat;
}

.tags a {
  display: block;
  float: left;
  padding: 3px;
  margin-right: 5px;
  border: 1px solid #bbb;
  color: #555;
  background-color: #eee;
}
