<div id="header"></div>

<div id="nav">
	<div class="left"></div>
	<ul class="items">
	  <li>
	    <a href="/">Home</a>
	  </li>
	  <li>
	    <a href="/about/">About Us</a>
	  </li>
	  <li>
	    <a href="/games/index.html">Games</a>
	  </li>
	  <li>
	    <a href="/contact/">Contact Us</a>
	  </li>
	  <li><a href="#"></a></li>
	</ul>
	<div class="right"></div>
</div>

<div id="content">
	<div id="content-top"></div>
	<div id="content-middle">
		{{ content }}
	</div>
	<div id="content-bottom"></div>
</div>
